<!DOCTYPE html>
<html>
  <head>
    <title>W3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body class="static h-screen max-w-screen-xl mx-auto flex flex-col items-center bg-slate-50 text-black overflow-x-hidden">
     <%= yield %>
  </body>

</html>
